<% content_for :page_header, @product.name %>

<div class="product-show">
  <div class="product-image">
    <%= image_tag(@product.image.url(:medium)) %>
  </div>
  <div class="product-details">
    <p class="description"><%= @product.description %></p>
    <h4 class="price">Price: $<%= @product.price %></h4>
    <% if current_user && current_user.admin? %>
      <h5 class="product-options">
        <%= link_to "Edit Craft", edit_product_path(@product) %> |
        <%= link_to "Delete Craft", product_path(@product), data: {
            confirm: "This will permanently delete this craft. Are you sure?",
            method: "delete"
            } %>
      </h5>
    <% end %>
  </div>
</div>

<%= render 'reviews/index' %>

<% if current_user && @review.id == nil %>
  <h2 class="sub-header">Add a Review</h2>
  <%= render 'reviews/form' %>
<% end %>
